google-auth==2.38.0
google-genai==1.10.0
pymupdf
frontend
ultralytics
python-dotenv
datasets
pandas
scikit-learn
torch
transformers==4.41.2
joblib
pandas
json_repair
cv2
ultralytics
google
datasets
scikit-learn
